<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Node</h1>

<f:flashMessages />

<table  class="tx_ffpinodeupdates" >
	<tr>
		<th><f:translate key="tx_ffpinodeupdates_domain_model_node.node_id" /></th>
		<th><f:translate key="tx_ffpinodeupdates_domain_model_node.online" /></th>
		<th><f:translate key="tx_ffpinodeupdates_domain_model_node.last_change" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{nodes}" as="node">
		<tr>
			<td><f:link.action action="show" arguments="{node : node}"> {node.nodeId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{node : node}"> {node.online}</f:link.action></td>
			<td><f:link.action action="show" arguments="{node : node}"> {node.lastChange -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{node : node}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{node : node}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Node</f:link.action>
</f:section>
</html>