<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{confirmed}">
        <f:then>
            <p>
                <f:translate key="tx_ffpinodeupdates_domain_model_abo.confirm_true_p1"/>
            </p>
            <p>
                <f:translate key="tx_ffpinodeupdates_domain_model_abo.email"/>: {abo.email}<br>
                <f:translate key="tx_ffpinodeupdates_domain_model_abo.node"/>: {abo.node.nodeId}<br>
                <f:translate key="tx_ffpinodeupdates_domain_model_abo.secret" />: {abo.secret}
            </p>
        </f:then>
        <f:else>
            <p>
                <f:format.raw>
                    <f:translate key="tx_ffpinodeupdates_domain_model_abo.confirm_false_p1"/>
                </f:format.raw>
            </p>
        </f:else>
    </f:if>
</f:section>
