<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <p>
        <f:translate key="tx_ffpinodeupdates_domain_model_abo.new_p1"/>
    </p>
    <f:form action="create" name="aboNewDemand" object="{demand}" objectName="aboNewDemand">
        <fieldset class="new-node-abo">
            <label for="email" class="control-label">
                <f:translate key="tx_ffpinodeupdates_domain_model_abo.email"/>
            </label>
            <div class="input">
                <f:form.textfield id="email" property="email" type="email" required="required"/>
            </div>
            <br>
            <label for="nodeId" class="control-label">
                <f:translate key="tx_ffpinodeupdates_domain_model_abo.node"/>
            </label>
            <div class="input">
                <f:form.select id="nodeId" property="nodeId" options="{nodes}" optionLabelField="label" optionValueField="nodeId"
                               prependOptionLabel="Bitte wählen" required="required"/>
            </div>
        </fieldset>
        <f:form.submit value="Abonieren" class="btn button"/>
    </f:form>
    <p>
        <f:link.action action="removeForm">Abo abbestellen.</f:link.action>
    </p>
</f:section>