<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:form controller="Abo" action="remove" name="removeAbo" object="{demand}" objectName="aboRemoveDemand">
        <label for="email" class="control-label">
            <f:translate key="tx_ffpinodeupdates_domain_model_abo.email"/>
        </label>
        <div class="input">
            <f:form.textfield id="email" property="email" type="email" value="{email}" required="required"/>
        </div>
        <br>
        <label for="secret" class="control-label">
            <f:translate key="tx_ffpinodeupdates_domain_model_abo.secret"/>
        </label>
        <div class="input">
            <f:form.textfield id="secret" property="secret" value="{secret}" required="required" />
        </div>
        <br>
        <f:form.submit value="Eintrag löschen" class="btn button" />
    </f:form>
</f:section>