<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:debug>{_all}</f:debug>
    <div class="gatewayList">
        <f:for as="gateway" each="{gateways}">
            <div class="gateway">
                <h3>{gateway.node.nodeName}</h3>
                <dl>
                    <td>Node ID</td>
                    <dd>{gateway.node.nodeId}</dd>
                    <dt>Ping</dt>
                    <dd>{gateway.ping} ms</dd>

                    <dt>OpenVPN</dt>
                    <dd><f:render partial="Gateway/Status.html" arguments="{'value': gateway.openVpn}" /></dd>

                    <dt>Network Interface</dt>
                    <dd><f:render partial="Gateway/Status.html" arguments="{'value': gateway.networkInterface}" /></dd>

                    <dt>Firewall</dt>
                    <dd><f:render partial="Gateway/Status.html" arguments="{'value': gateway.firewall}" /></dd>

                    <dt>Exit VPN</dt>
                    <dd><f:render partial="Gateway/Status.html" arguments="{'value': gateway.exitVpn}" /></dd>

                    <dt>Last Check</dt>
                    <dd><f:format.date date="{gateway.lastHealthCheck}" format="d.m.Y - H:i:s" /></dd>

                    <dt>Last Change</dt>
                    <dd><f:format.date date="{gateway.lastChange}" format="d.m.Y - H:i" /> Uhr</dd>
                </dl>
            </div>
        </f:for>
    </div>
</f:section>

</html>